h1 {
    background-color: #ff5722;
    color: white;
    font-weight: bolder;
    width: 150px;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    padding: 18px 0px;
    align-items: center;
}

h1::after {
    content: "";
    width: 140px;
    background-color: #ff5722;
    height: 75px;
    position: absolute;
    z-index: -1;
    transform: rotate( 165deg) skew(0, 25deg);
}

h1::before {
    content: "";
    background-color: #ff5722;
    width: 140px;
    position: absolute;
    height: 75px;
    z-index: -1;
    transform: rotate( -165deg) skew(0, -25deg);
}