.arrow {
    background-color: #eee;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    margin: 60px;
    position: relative;
}

.top::after {
    content: "";
    position: absolute;
    border: transparent solid 25px;
    border-bottom-color: #eee;
    top: -49px;
    left: calc(50% - 25px);
}

.right::after {
    content: "";
    position: absolute;
    border: transparent solid 25px;
    border-left-color: #eee;
    top: 7px;
    right: -50px;
}

.bottom::after {
    content: "";
    position: absolute;
    border: transparent solid 25px;
    border-top-color: #eee;
    bottom: -78%;
    left: calc(50% - 25px);
}

.left::after {
    content: "";
    position: absolute;
    border: transparent solid 25px;
    border-right-color: #eee;
    top: 7px;
    left: -50px;
}