.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template: 1fr auto / auto 1fr 1fr auto;
    align-content: space-between;
    justify-content: space-around;
    color: white;
    font-size: 20px;
    grid-gap: 10px 10px;
}

.grid div {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #403f3f;
}