.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    color: white;
    display: grid;
    align-content: space-between;
    grid-gap: 20px;
    grid-template: auto auto/1fr 1fr;
}

.grid div {
    background-color: #e91e63;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
}