* {
    box-sizing: border-box;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px 20px;
}

.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2196f3;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.one {
    order: 8;
    grid-column: span 5;
}

.two {
    order: 2;
    grid-column: span 3;
}

.three {
    order: 3;
    grid-column: span 2;
}

.four {
    order: 4;
    grid-column: span 2;
}

.five {
    order: 5;
    grid-row: span 3;
    grid-column: span 3;
}

.six {
    order: 6;
    grid-column: span 2;
}

.seven {
    order: 7;
    grid-column: span 2;
}

.eight {
    order: 1;
    grid-column: span 5;
}